/* PUI-2018 Assignment 6
Jessica Nip
Section A  */

body {
	background: #FFF;
}

/* large heading */
h1 {
	color: gray;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
}

/* small caption heading */
h2 {
    color: #9A9A9A;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
}

/* large page heading */
h3 {
    color: #4D4D4D;
    font-family: Georgia;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

/* paragraph text */
p {
	color: #555555;
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	text-align: left;  
}

/* nav bar style */
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

/* list style */
li {
    float: right;
}

li a {
    display: block;
    color: gray;
    text-align: left;
    padding: 12px 16px;
}

/* image style */
.pastries { 
    width: 288px;
    height: auto; 
}


/* logo text */
.logo {
    position: absolute;
    left: 3%;
    top: 2%;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

/* logo rectangle */
#rectangle {
	position: absolute;
	left: 2%;
	top: 2%;
	width: 175px;
	height: 20px;
	background: transparent;
	border: solid thin gray;
}

/* filled CTA button */
#filledbutton {
    position: relative;
    width: 200px;
    line-height: 40px;
    background: gray;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    text-align: center; 
    color: white; 
}

/* centered text over image */
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #4D4D4D;
	font-family: Georgia;
	font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/* bottom nav */
.bottomnav {
    position: relative;
    width: 150%;
    color: #4D4D4D;
	font-family: Georgia;
	font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/* leaving space between elements of bottom nav*/
.navspacing {
   position: relative;
   display: inline-block;
   float: left;
   margin: 30px;
   width: 25%;
}

/* pastries images in a row */
.row {
   position: relative;
   display: inline;
   float: left;
   padding: 10px;
   width: 288px;
}

/* aligning text and images as grid*/
.grid {
    position: relative;
    height: 850px;
    max-width: 1200px;
    left: 250px;
    text-align: left;
}

/* containing body text in left paragraph */
.leftparagraph {
    position: relative;
    height: 700px;
    max-width: 460px;
    left: 200px;
    top: 20px;
    text-align: left;
}

.shoppingUI {
    position: relative;
    height: 700px;
    left: 200px;
    top: 20px;
    text-align: left;
}

/* aligning product image to right */
.imageright {
    position: absolute;
    left: 550px;   
    top: 0px;
}

/* aligning text within rectangle
https://stackoverflow.com/questions/42979428/how-to-center-text-inside-of-a-css-shape
and creating horizontal space between buttons */
.buttonspacing {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    background: transparent;
    border: solid thin gray;
    color: #555555;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    text-align: center;  
}

/* creating vertical space between selectors */
.section {
    height: 80px;
    margin-top: 30px;
}

/* table properties, items list */
#topcart {
    padding-top: 30px;
    width: 75%;
    color: #555555;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    text-align: left; 
}


#topcart th {
    color: #555555;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    text-align: left; 
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* table properties, total pricing */
#bottomcart {
    padding-top: 30px;
    margin-left: 550px;
    width: 27%;
    color: #555555;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal; 
}

.buttonleft {
    padding-top: 30px;
    margin-left: 550px;
}
