/* PUI-2018 Assignment 8
Jessica Nip
Section A */

/* set background and various text styles */
body {
	background: #FFF;
}

h1 {
	font-family: 'Karla'; /* use google font */
	font-size: 20px;
	font-weight: bolder;
}

h2 {
	font-family: 'Karla';
	font-size: 20px;
	font-weight: bolder;
	color: #DA5A57;
}

h3 {
	font-family: 'Karla'; /* use google font */
	font-size: 17px;
	font-weight: bold;
	color: gray;
	line-height: 24px;
}

h4 {
	font-family: 'Karla';
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	line-height: 22px;
}

h5 {
	font-family: 'Karla';
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	color: gray;
	line-height: 20px;
}

p {
	font-family: 'Karla';
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	line-height: 20px;
}

/* define href link styles */
a:link {
    color: black; 
    background-color: transparent; 
    font-weight: bold;
}

a:hover {
    color: #DA5A57;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* project title text style */
.titletext {
	font-family: 'Karla';
	font-weight: bolder;
	font-size: 18px;
	color: black;
	position: relative;
	top: 80%;
	left: 5%;
	text-align: left;
}

/* navigation bar style */
.navbar {
    font-family: 'Karla';
    margin-bottom: 0;
    border: 0;
    font-size: 15px;
    background: transparent;
}

.navbar li a, .navbar { 
    color: black !important;
    background: transparent;
}

.navbar .navbar-brand {
    color: black !important;
    background: transparent;
    font-family: 'Karla';
    font-weight: bolder;
    font-size: 20px;
}

.navbar-nav li a:hover {
    color: #DA5A57 !important;
    background: white;
}

.container-fluid {
	height: 100px;
	padding: 25px 100px 10px;
}

.container {
	position: absolute;
}

/* set image styles */
.projectimage {
	display: block;
	width: 100%;
}

.aboutimage {
	width: 80%;
	height: auto;
	padding-top: 20%;
}

.detailimage {
	position: relative;
    width: 100%;
    padding: 100px 6.6% 0px;
}

.progressimage {
	position: relative;
    width: 100%;
    padding-bottom: 15px;
}

/* video responsive settings*/
.video-container {
	position: relative;
	padding: 30px 8% 50%;
	height: 0; 
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	max-width: 100%;
	height: 100%;
}

/* create overlay upon hover */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
}

/* define rows and columns for About page */
.column {
	float: left;
	width: 35%;
}

.row {
	position: relative;
	top: 160px;
	margin-left: 20%;
}

/* define rows and columns for Project Detail pages */
.projectrow {
	display: flex;
	flex-wrap: wrap;
	margin-left: 17%;
	margin-right: 17%;
	padding-top: 50px;
	padding-bottom: 40px;
}

.projectcolumn{
	position: relative;
	flex: 50%;
	max-width: 50%;
}

/* stack columns into rows on smaller screens */
@media screen and (max-width: 800px) {
	.projectcolumn {
	flex: 100%;
	max-width: 100%;
  }
}

/* create responsive gallery grid for Projects page */
.galleryrow {
	display: flex;
	flex-wrap: wrap;
	padding: 100px 6.5%;
}

.gallerycolumn{
	position: relative;
	flex: 50%;
	max-width: 50%;
	padding: 0 4px;
}

.gallerycolumn img {
	margin-top: 8px;
	vertical-align: middle;
}

.gallerycolumn:hover .overlay {
	opacity: .8;
}

/* stack columns into rows on smaller screens */
@media screen and (max-width: 800px) {
	.gallerycolumn {
	flex: 100%;
	max-width: 100%;
  }
}

/* set footer and footertext styles */
.footer {
	position: relative;
	width: 100%;
	height: 60px; /* defining footer height */
	line-height: 10px;
	text-align: center;
	margin-top: 5%;
}

.footertext {
	font-family: 'Karla';
	font-weight: normal;
	font-size: 11px;
	color: gray;
	position: relative;
	left: 12%;
}
