/* PUI-2018 Assignment 8
Jessica Nip
Section A */

/* 15px padding */

body {
	background: #FFF;
}

h1 {
	font-family: 'Karla';
	font-size: 20px;
	font-weight: bolder;
}

h2 {
	font-family: 'Karla';
	font-size: 18px;
	font-weight: bold;
}

p {
	font-family: 'Karla';
	font-size: 15px;
	font-weight: normal;
}

/* class is . id is #*/
.nav-bar {
	background-color: lavenderblush;
	height: 100px;
	padding: 35px 100px 10px;
}
